
# User authentication packages - latest compatible versions
alembic
aniso8601
appdirs
asgiref
bcrypt
black
colorama
cryptography
fastapi
graphene
graphene-sqlalchemy
graphql-core
graphql-relay
greenlet
h11
Mako
MarkupSafe
mypy-extensions
pathspec
promise
psycopg2-binary
pycparser
pydantic
PyJWT
python-dateutil
python-dotenv
python-editor
regex
Rx
singledispatch
six
SQLAlchemy
starlette
toml
typing-extensions
uvicorn
